*{
  margin:0;
  padding:0;
  font-family:'나눔 고딕','NanumGothic','맑은 고딕',Gothic;
}
a{
  text-decoration:none;
}
li{
  list-style:none;
}

body{
  width:960px;
  margin:0 auto;
  background-color:#E6E6E6;
}
#page-wrapper{
  background-color:#FFFFFF;
  margin:40px 0 40px 0;
  padding:10px 20px 10px 20px;
  border-radius:5px;
  box-shadow:0 2px 6px rgba(100,100,100,0.3);
}
#main-header{
  padding:40px 50px 40px 50px;
}
.master-title{
  color:#181818;
  text-size:30px;
}
.master-description{
  text-size:15px;
  color:#383838;
  font-weight:500;
}

#main-navigation{
  border-top:solid 1px #C8C8C8;
  border-bottom:solid 1px #C8C8C8;
  margin:0 0 20px 0;
  height:40px;
}
.outer-menu-item{
  float:left;
}
.menu-title{
  display:block;
  height:30px;
  text-align:center;
  padding:5px 20px 5px 20px;
  color:#000000;
}
.menu-title:hover{
  background-color:#000000;
  color:white;
}
.menu-title:active{
  color:#FFFF00;
}

.card-container {
  width: 150px;
  height: 150px;
  margin:0 0 0 10px;
  cursor: pointer;
  perspective: 600;
  position: relative;
  display:inline-block;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

.self-intro{
  width:400px;
  margin:0 0 0 50px;
  line-height:2;
  vertical-align:top;
  display:inline-block;
}
.self-intro-list{
  list-style-type:decimal;
}



#main-aside{
  float:right;
  width:200px
}
.aside-list{
  padding:10px 0 30px 0;
}
h3{
  text-size:15px;
  font-weight:600;
}
a{
  margin:0 0 0 8px;
  font-size:13px;
  color:#6C6C6C;
}

footer{
  font-size:10px;
  color:#666666;
}

.article-body{
  display:inline-block;
}

#main-section{
  display:inline-block;
}
