*{
  margin:0;
  padding:0;
  font-family:'나눔 고딕','NanumGothic','맑은 고딕',Gothic;
}
a{
  text-decoration:none;
}
li{
  list-style:none;
}

body{
  width:960px;
  margin:0 auto;
  background-color:#E6E6E6;
}
#page-wrapper{
  background-color:#FFFFFF;
  margin:40px 0 40px 0;
  padding:10px 20px 10px 20px;
  border-radius:5px;
  box-shadow:0 2px 6px rgba(100,100,100,0.3);
}
#main-header{
  padding:40px 50px 40px 50px;
}
.master-title{
  color:#181818;
  text-size:30px;
}
.master-description{
  text-size:15px;
  color:#383838;
  font-weight:500;
}

#main-navigation{
  border-top:solid 1px #C8C8C8;
  border-bottom:solid 1px #C8C8C8;
  margin:0 0 20px 0;
  height:40px;
}
.outer-menu-item{
  float:left;
}
.menu-title{
  display:block;
  height:30px;
  text-align:center;
  padding:5px 20px 5px 20px;
  color:#000000;
}
.menu-title:hover{
  background-color:#000000;
  color:white;
}
.menu-title:active{
  color:#FFFF00;
}

#content{
  overflow:hidden;
}
#main-section{
  float:left;
  width:710px;
}
#main-aside{
  float:right;
  width:200px
}

article{
  padding:0 10px 20px 10px;
  border:solid 1px #C8C8C8;
}
.header{
  padding:20px 0 20px 0;
}
.article-title{
  text-size:25px;
  padding:0 0 10px 0;
  font-weight:500;
}
.article-data{
  text-size:14px;
}

.aside-list{
  padding:10px 0 30px 0;
}
h3{
  text-size:15px;
  font-weight:600;
}
a{
  margin:0 0 0 8px;
  font-size:13px;
  color:#6C6C6C;
}

footer{
  font-size:10px;
  color:#666666;
}

/*이상 home과동일*/

.time-table{
  color:#06425;
  text-align:center;
  border:solid 3px #000000;
  border-radius: 0 0 25px 25px;
  border-spacing:0;
}
tr{
  background-color:#F2F2F2;
}
tr:last-child{
  border-radius:0 0 25px 25px;
}
tr:last-child>td:first-child{
  border-radius:0 0 0 25px;
}
tr:last-child>td:last-child{
  border-radius:0 0 25px 0;
}

caption{
  text-transform:uppercase;
  background-color:#666666;
  color:#ffffff;
  font-size:150%;
  border-radius:25px 25px 0 0;
}
th{
  margin:2px 2px 2px 2px;
  padding-bottom:2px;
  background-color:#ffffff;
}
td{
  margin:2px 2px 2px 2px;
  padding-bottom:2px;
  width:100px;
  height:50px;
  vertical-align:middle;
}

.prof-song{
  margin:0 0 0 0;
  padding:0 0 0 0;
  color:white;
  font-size:15px;
  font-weight:bold;

  background-color:#51A39D;
}
.prof-lee{
  margin:0 0 0 0;
  padding:0 0 0 0;
  color:white;
  font-size:15px;
  font-weight:bold;
  background-color:#53D1D6;
}
.prof-cho{
  margin:0 0 0 0;
  padding:0 0 0 0;
  color:white;
  font-size:15px;
  font-weight:bold;
  background-color:#36B55A;
}
.prof-seo{
  margin:0 0 0 0;
  padding:0 0 0 0;
  color:white;
  font-size:15px;
  font-weight:bold;
  background-color:#B52097;
}

span{
  text-align:center;
  color:#ff0000;
  visibility:hidden;
}
td:active>span{
  visibility:visible;
}
